/* wip stuff */
._placehold {
	margin:20px 0 0;
	padding:40px;
	background-color:#eee;
	width:100%;
	height:320px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
._placehold:before {
	content:"This is a large block to mimic wrap :)";
	color:#222;
}

/* FUNCTIONAL STONEWARE 
 * MAIN STYLEHEET */

/* @font-face declarations for web typography */
@font-face {
	font-family:'Source Sans Pro';
	font-style:normal;
	font-weight:400;
	src:local('Source Sans Pro'),local('SourceSansPro-Regular'),url(http://fonts.gstatic.com/s/sourcesanspro/v8/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}
@font-face {
	font-family:'Source Sans Pro';
	font-style:normal;
	font-weight:700;
	src:local('Source Sans Pro Bold'),local('SourceSansPro-Bold'),url(http://fonts.gstatic.com/s/sourcesanspro/v8/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format('woff');
}

/* general element styling */
html,body {
	margin:0;
	font-family:"source sans pro",helvetica neue,lucida sans,sans-serif;
	font-weight:normal;
	overflow-x:hidden;
}
h1,h2,h3 {
	margin:0;
}
a {
	color:inherit;
}

/* general shared classes, some specific styling */
.cf:after,#wrap:after { /* clearfix */
	content:"";
	display:block;
	clear:both;
}
.sc { /* keyboard shortcuts */
	color:#ff9f00;
}

/* header */
header {
	position:fixed;
	width:100%;
	height:64px;
	color:#282828;
	background:#fff;
	border:solid 0 #ebebeb;
	border-width:0 0 1px 0;
	line-height:0;
	box-shadow:0 4px 0 0 rgba(0,0,0,.02);
}
header>ul,section {
	margin:0 auto;
	padding:0;
	width:65%;
	max-width:1248px;
}
header ul { /* main nav ul */
	display:block;
	list-style:none;
	border:inherit;
	border-width:0;
}
header>ul>li { /* all primary nav lis */
	display:block;
	margin:0 -1px 0 0;
	float:left;
	border:inherit;
	border-width:0 1px;
}
header>ul>li:not(#s):hover { /* all but last nav li */
	background:#ebebeb;
}
#h { /* logotype */
	padding:16px 32px;
	height:32px;
	font-size:120%;
	font-family:georgia,serif;
	line-height:80%;
}
#h span {
	font-weight:bold;
}
header a { /* all header anchors */
	display:block;
	padding:32px;
	height:0;
	text-decoration:none;
}

/* social */
#s { /* social nav li */
	padding-right:1px;
}
#s,#s li {
	border:none;
	float:right;
}
#s a { /* social anchors */
	display:block;
	margin:16px 0 16px 8px;
	padding:0;
}
#s path { /* social buttons */
	stroke:#fff;
	stroke-width:16px;
	stroke-opacity:0;
	transition:all ease-out .12s;
}
#s path:hover { /* social buttons colour change */
	stroke-opacity:.25;
}

/* body */
section {
	padding:86px 0 18px;
}