        </section>
        <footer><p>Content provided under MIT and Creative Commons BY-NC-SA licenses (<a class="reg-link" href="about#license">details</a>)</p></footer>

        <script>if(window.location.host=='functionalstoneware.com'){alert('This website is under development. If you wish to contact Rhiain, please follow the Facebook page link at the top of the page.')}</script>
        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
        <script src="/scripts/jquery.min.js"></script>
        <script src="/scripts/contact-form.js"></script>
        <script src="/scripts/shop.js"></script>
        <script src="/scripts/main.js"></script>
    </body>
</html>
